/* 기본 폰트 - 주로 큰 글씨 */
@font-face {
	font-family: 'VT323';
	src: url(./fonts/VT323-Regular.ttf) format('truetype');
	unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+0020-002F, U+003A-0040,
		U+005B-0060, U+007B-007E;
}

/* 기본 폰트 - 주로 작은 글씨 */
@font-face {
	font-family: 'RobotoMono-Bold';
	src: url(./fonts/RobotoMono-Bold.ttf) format('truetype');
	unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+0020-002F, U+003A-0040,
		U+005B-0060, U+007B-007E;
}

/* 기본 폰트 - 한글 */
@font-face {
	font-family: 'NanumGothic-Regular';
	src: url(./fonts/NanumGothic-Regular.ttf) format('truetype');
	unicode-range: U+AC00-D7A3;
}

body {
	margin: 0;
	font-family: 'VT323', 'NanumGothic-Regular', sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
